* {
	-webkit-user-drag: none;
	user-select: none;
	font-size: 22px;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #DFC2C2;
}
#mainContainer {
	display: flex;
	gap: 100px;
	align-items: center;
	justify-content: space-around;
}
.row {
	display: flex;
}
.cell {
	width: 159px;
	height: 159px;
	background-color: white;
}

.cell-grid {
	outline: 1px solid rgb(220, 213, 213);
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

#dimensions, #col-pkr, .generate {
	border-radius: 0;
	border: 1px black solid;
	padding: 4px;
	text-align: center;
}

.toggles {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.grid-lines, .rainbow {
	display: flex;
	align-items: center;
	gap: 15px;
}

.rainbow {
	gap: 55px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #dfc2c2;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #f321bb;
}

input:focus+.slider {
	box-shadow: 0 0 1px #f321bb;
}

input:checked+.slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}